@import "./undead.scss";
@import "./nightelf.scss";

.theme--dark {
  .custom-table {
    td {
      border-bottom: thin solid hsla(0, 0%, 100%, 0.12);
    }
  }

  &.v-application {
    .v-card__title, h3 {
      font-family: "Friz Quadrata Std Medium";
      color: rgb(255, 212, 40);
      letter-spacing: 1.56px;
      text-transform: uppercase;
      text-shadow: rgb(0, 0, 0) 0px 3px 1px;
    }

    .v-btn {
      color: rgb(255, 212, 40);
    }
  }
}
