@import "./undead.scss";
@import "./nightelf.scss";

.v-theme--dark {
  .won {
    color: var(--v-success-base) !important;
  }
  
  .lost {
    color: var(--v-error-base) !important;
  }

  .custom-table {
    td {
      border-bottom: thin solid hsla(0, 0%, 100%, 0.12);
    }
  }

  &.v-application, &.v-overlay {
    .v-card-title, h3 {
      color: rgb(255, 212, 40);
      text-shadow: rgb(0, 0, 0) 0px 3px 1px;
    }

    .v-btn {
      color: rgb(255, 212, 40);
    }

    .v-tooltip__content {
      background-color: var(--v-w3-race-bg-lighten2);
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      &.menuable__content__active {
        opacity: 1;
      }
    }

    .v-pagination .v-pagination__item--active {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}
