@import "./undead.scss";
@import "./nightelf.scss";

.v-theme--nightelf, .v-theme--undead {
  .w3-won {
    color: rgb(var(--v-theme-success)) !important;
  }

  .w3-lost {
    color: rgb(var(--v-theme-lost)) !important;
  }

  .v-data-table, .custom-table {
    tr:hover {
      box-shadow: 0 0 17px grey;
    }
  }

  .custom-table {
    td {
      border-bottom: thin solid hsla(0, 0%, 100%, 0.12);
    }
  }

  .v-btn {
    color: rgb(var(--v-theme-primary));

    &.v-tab {
      color: rgba(white, 0.6);

      &.v-tab--selected {
        color: rgb(var(--v-theme-primary));
      }
    }
  }

  &.v-application, &.v-overlay {
    .v-card-title, h3 {
      color: rgb(var(--v-theme-w3-gold));
      text-shadow: black 0px 3px 1px;
    }
  }

  .join-button {
    text-shadow: none;
    color: black;
  }

  .w3-gray-text {
    color: rgba(white, 0.7);  // #FFFFFFB3
  }

  .w3-tooltip {
    color: white;
    background-color: rgb(var(--v-theme-w3-race-bg-lighten-2));
  }

  .w3-gray-gold-text {
    color: rgb(var(--v-theme-w3-gold)) !important;
  }
}
