@import "../shared/index.scss";

.theme--dark.v-application.nightelf {
  --w3-bg-glass: rgba(13, 7, 24, 0.9);

  background: url(./assets/backgrounds/nightelf.jpg) no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;
}
