@import "../shared/index.scss";

.v-application.nightelf {
  --w3-bg-glass: rgba(13, 7, 24, 0.9);

  background: url("/assets/backgrounds/nightelf.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .v-card {
    background-color: var(--w3-bg-glass);
  }

  .v-toolbar {
    background-color: var(--w3-bg-glass);
  }

  .w3-glass {
    background-color: var(--w3-bg-glass);
  }
}
