@import "../shared/index.scss";

$w3-nightelf-glass: inset 0 0 0 3000px rgba(13, 7, 24, 0.9) !important;

.theme--dark.v-application.nightelf {
  background: url(./assets/backgrounds/nightelf.jpg) no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .w3-background {
    box-shadow: inset 0 0 0 3000px rgba(13, 7, 24, 0.1) !important;
  }

  .w3-background:hover {
    box-shadow: inset 0 0 0 3000px rgba(13, 7, 24, 1) !important;
  }

  .v-app-bar:before {
    @extend .w3-glass;

    box-shadow: $w3-nightelf-glass;
  }

  .theme-selector.v-list {
    box-shadow: $w3-nightelf-glass;
  }

  .v-list {
    box-shadow: $w3-nightelf-glass;
  }

  .v-card:before {
    @extend .w3-glass;
    box-shadow: $w3-nightelf-glass;
  }

  .v-expansion-panel {
    box-shadow: $w3-nightelf-glass;
  }

  .v-footer {
    background-color: transparent !important;
    box-shadow: $w3-nightelf-glass;
  }
}

.nightelf {
  header.v-app-bar--is-scrolled + main {
    .search-bar {
      background-color: rgba(18, 13, 39, 0.9);
    }
  }
}
