@import "../shared/index.scss";

.v-application.undead {
  --w3-bg-glass: rgba(0, 0, 0, 0.9);

  background: url("/assets/backgrounds/undead.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .won {
    color: rgb(var(--v-theme-success)) !important;
  }

  .lost {
    color: rgb(var(--v-theme-error)) !important;
  }

  .v-card {
    background-color: var(--w3-bg-glass);
  }
  
  .v-toolbar {
    background-color: var(--w3-bg-glass);
  }

  .v-btn {
    color: rgb(255, 212, 40);
  }

  .v-btn.join-button {
    text-shadow: none;
    color: rgb(var(--v-theme-black));
  }

  .v-card-title, h3 {
    color: rgb(255, 212, 40);
    text-shadow: rgb(0, 0, 0) 0px 3px 1px;
  }

  .v-data-table,
  .custom-table {
    tr:hover {
      box-shadow: 0 0 17px grey;
    }
  }
}
