@import "../shared/index.scss";

.v-application.undead {
  --w3-bg-glass: rgba(0, 0, 0, 0.9);

  background: url("/assets/backgrounds/undead.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .won {
    color: rgb(var(--v-theme-success)) !important;
  }

  .lost {
    color: rgb(var(--v-theme-error)) !important;
  }

  .v-data-table,
  .custom-table {
    tr:hover {
      box-shadow: 0 0 17px grey;
    }
  }
}
