@import "../shared/index.scss";

.v-application.human {
  --w3-bg-glass: rgba(233, 233, 233, 0.9);

  .w3-won {
    color: rgb(var(--v-theme-success-darken-1)) !important;
  }

  background: url("/assets/backgrounds/human.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .v-card {
    background-color: var(--w3-bg-glass);
  }

  .w3-glass {
    background-color: var(--w3-bg-glass);
  }
}

// Dialogs are not placed in the dom as a child of .v-application.human, so we need to define this class here as well.
.v-theme--human {
  --w3-bg-glass: rgba(233, 233, 233, 0.9);
  .w3-glass {
    background-color: var(--w3-bg-glass);
  }
}