@import "../shared/index.scss";

// #1976d2 blue

.v-application.human {
  --w3-bg-glass: rgba(233, 233, 233, 0.9);

  background: url("/assets/backgrounds/human.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .won {
    color: rgb(var(--v-theme-won)) !important;
  }
  
  .lost {
    color: rgb(var(--v-theme-lost)) !important;
  }

  .v-data-table,
  .custom-table {
    tr:hover {
      box-shadow: 0 0 6px black;
    }
  }

  .v-expansion-panel {
    background-color: transparent !important;
  }

  .v-card {
    background-color: var(--w3-bg-glass);
  }

  .v-toolbar {
    background-color: var(--w3-bg-glass);
  }
}
