@import './vars.scss';
@import '../shared/index.scss';

$w3-human-glass: inset 0 0 0 3000px rgba(233, 233, 233, 0.9) !important;

.theme--light.v-application {
  @font-face {
    * {
      font-family: 'Friz Quadrata Regular OS';
      color: $w3-light-color;
    }
  }

  background: url(./assets/human/background.jpg) no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .v-app-bar:before {
    @extend .w3-glass;

    box-shadow: $w3-human-glass;
  }

  .v-btn {
    font-family: 'Friz Quadrata Regular OS' !important;
    color: $w3-light-color !important;
    letter-spacing: 1.56px !important;
    text-transform: uppercase !important;
  }

  .w3-background {
    box-shadow: $w3-human-glass;
  }

  .w3-background:hover {
    box-shadow: inset 0 0 0 3000px rgba(233, 233, 233, 1) !important;
  }

  .theme-selector.v-list {
    box-shadow: $w3-human-glass;
  }

  .v-card {
    color: $w3-light-color !important;
  }

  .v-card__text {
    color: $w3-light-color !important;
  }

  .v-card:before {
    @extend .w3-glass;

    box-shadow: $w3-human-glass;
  }

  .v-list {
    box-shadow: $w3-human-glass;
  }

  .v-tabs-bar {
    a {
      color: $w3-light-color !important;
    }
  }

  .v-data-table {
    tr:hover {
      box-shadow: 0 0 6px black;
    }
  }

  .v-expansion-panel {
    background-color: transparent !important;
  }
}
