@import "./human.scss";
@import "./orc.scss";

.v-theme--human, .v-theme--orc {
  .won {
    color: rgb(var(--v-theme-won)) !important;
  }

  .lost {
    color: rgb(var(--v-theme-lost)) !important;
  }

  .custom-table {
    td {
      border-bottom: thin solid rgba(0, 0, 0, 0.12);
    }
  }

  .v-btn {
    &.v-tab {
      color: rgba(var(--v-theme-black), 0.54);

      &.v-tab--selected {
        color: rgb(var(--v-theme-primary));
      }
    }
  }

  .v-overlay__content {
    background-color: rgb(var(--v-theme-w3-race-bg-lighten-1));
    color: rgb(var(--v-theme-secondary-darken1));
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}
