@import "./human.scss";
@import "./orc.scss";

.v-theme--human, .v-theme--orc {
  .w3-lost {
    color: rgb(var(--v-theme-lost)) !important;
  }

  .v-data-table, .custom-table {
    tr:hover {
      box-shadow: 0 0 6px black;
    }
  }

  .custom-table {
    td {
      border-bottom: thin solid rgba(black, 0.12);
    }
  }

  .v-btn {
    &.v-tab {
      color: rgba(black, 0.54);

      &.v-tab--selected {
        color: rgb(var(--v-theme-primary));
      }
    }
  }

  .v-expansion-panel {
    background-color: transparent;
  }

  .w3-gray-text {
    color: rgba(black, 0.75); // #000000DE
  }

  .w3-tooltip {
    color: rgb(var(--v-theme-secondary-darken-1));
    background-color: rgb(var(--v-theme-w3-race-bg-lighten-1));
  }

  .w3-gray-gold-text {
    color: rgba(black, 0.54);  // #0000008A
  }
}
