@import "../shared/index.scss";

// #c12b12 orc red
// #5c2604 orc brown

.v-theme--light.v-application.orc {
  --w3-bg-glass: rgba(199, 186, 161, 0.9);

  background: url("/assets/backgrounds/orc.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .won {
    color: var(--v-success-darken2) !important;
  }
  
  .lost {
    color: var(--v-error-darken2) !important;
  }
}