@import "../shared/index.scss";

.v-application.orc {
  --w3-bg-glass: rgba(199, 186, 161, 0.9);

  .w3-won {
    color: rgb(var(--v-theme-success-darken-2)) !important;
  }

  background: url("/assets/backgrounds/orc.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .v-card {
    background-color: var(--w3-bg-glass);
  }

  .w3-glass {
    background-color: var(--w3-bg-glass);
  }
}

// Dialogs are not placed in the dom as a child of .v-application.orc, so we need to define this class here as well.
.v-theme--orc {
  --w3-bg-glass: rgba(199, 186, 161, 0.9);
  .w3-glass {
    background-color: var(--w3-bg-glass);
  }
}

// #c12b12 orc red
// #5c2604 orc brown
