@import "../shared/index.scss";

// #c12b12 orc red
// #5c2604 orc brown

.v-application.orc {
  --w3-bg-glass: rgba(199, 186, 161, 0.9);

  .won {
    color: rgb(var(--v-theme-success-darken-2)) !important;
  }

  background: url("/assets/backgrounds/orc.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .v-card {
    background-color: var(--w3-bg-glass);
  }

  .v-toolbar {
    background-color: var(--w3-bg-glass);
  }
}
