// #c12b12 orc red
// #5c2604 orc brown

@import "../shared/index.scss";

.v-theme--orc.w3app {
  --w3-bg-glass: rgba(199, 186, 161, 0.9);

  background: url("/assets/backgrounds/orc.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;
}