.v-application.orc {
  --w3-bg-glass: rgba(200, 180, 145, 0.92);

  .w3-won {
    color: rgb(var(--v-theme-success-darken-2)) !important;
  }

  background: url("/assets/backgrounds/orc.jpg") no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  align-items: center !important;
  justify-content: center !important;

  .v-card {
    background-color: var(--w3-bg-glass);
    border: 1px solid rgba(167, 108, 58, 0.3);
  }

  .w3-glass {
    background-color: var(--w3-bg-glass);
  }
}

// Dialogs are not placed in the dom as a child of .v-application.orc, so we need to define this class here as well.
.v-theme--orc {
  --w3-bg-glass: rgba(200, 180, 145, 0.92);

  .w3-glass {
    background-color: var(--w3-bg-glass);
  }

  .v-chip--variant-tonal .v-chip__underlay {
    background: color-mix(in srgb, currentColor calc(var(--v-activated-opacity) * 100%), #c8b488);
    opacity: 1;
    position: absolute;
    z-index: 0;
  }

  .recent-performance__results {
    .v-chip__underlay {
      background: transparent !important;
    }
  }

  .v-card-title, h3 {
    color: #3a1a08;
  }

  .w3-gray-gold-text {
    color: #8a4623 !important;
  }

  .w3-mid-emphasis {
    color: rgba(0, 0, 0, 0.72);
  }
}
