:root {
  --w3-bg-glass: rgba(233, 233, 233, 0.9);
}

.number-text {
  font-family: "Inter Variable" !important;
  font-style: normal;
}

.custom-table {
  background-color: transparent !important;
  width: 100%;
  border-spacing: 0;

  td, th {
    padding: 6px 16px;
  }

  td {
    font-size: 0.875rem;
    height: 48px;
  }
}

.blinker {
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}

@keyframes up-right {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }
  50% {
    transform: scale (1, 5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

.join-button {
  color: rgb(51, 38, 28);
  background-image: linear-gradient(rgba(255, 255, 0, 0.2) 50%, transparent 50%),
    linear-gradient(rgb(255, 209, 85), rgb(220, 166, 13));
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 0px 2px,
    rgba(236, 174, 6, 0.3) 0px 0px 40px 15px,
    rgba(255, 255, 255, 0.4) 0px 0px 0px 2px inset,
    rgba(255, 125, 19, 0.3) 0px 0px 20px 10px inset;
  text-shadow: rgb(51, 38, 28) 0px 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 2px;
  background-repeat: no-repeat;
  text-decoration: none;
}

p {
  margin-bottom: 16px;
}

ul, ol {
    padding-left: 24px;
}

@media (min-width: 1904px) {
  .w3-container-width {
    max-width: 1185px;
  }
}

.w3-font-size-small {
  font-size: small;
}
