.w3-glass {
  content: "" !important;
  background: inherit !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

.pointer {
  cursor: pointer;
}

.won {
  color: green !important;
}

.lost {
  color: red !important;
}

.number-text {
  font-family: "Inter" !important;
  font-style: normal;
}

.custom-table {
    width: 100%;
    border-spacing: 0;

    td, th {
      padding: 0 16px;
    }

    td {
      font-size: .875rem;
      height: 48px;
  }
}

.custom-table-wrapper {
  overflow-x: auto;
}

.filter-none {
  filter: none !important;
}

.filter-blur {
  filter: blur(0) !important;
}