@media (min-width: 960px) {
    .container {
      max-width: none !important;
    }
  }
  
  @media (min-width: 1264px) {
    .container {
      max-width: 1185px !important;
    }
  }
  
  @media (min-width: 1904px) {
    .container {
      max-width: 1785px !important;
    }
  }