.hide-footer {
  .v-data-footer__select {
    display: none !important;
  }
}

.v-card__title {
  font-family: "Friz Quadrata Regular OS" !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-btn {
  font-family: "Friz Quadrata Regular OS" !important;
  color: $w3-light-color !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-application {
  font-family: "Inter" !important;
}

h3 {
  font-family: "Friz Quadrata Regular OS" !important;
  font-weight: 400 !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-app-bar {
  background-color: transparent !important;
  font-family: "Friz Quadrata Regular OS";
}

.v-btn:before {
  background-color: transparent !important;
}

.v-card {
  background: inherit !important;
  overflow: hidden !important;
}

.v-list {
  background-color: transparent !important;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.v-tabs-bar {
  background-color: transparent !important;
  a {
  }
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.v-tabs-slider-wrapper {
  color: $w3-light-color !important;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.v-tabs-items {
  background-color: transparent !important;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.v-tab {
  background-color: transparent !important;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.v-data-table,
.custom-table {
  background-color: transparent !important;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);

  tr:hover {
    background-color: transparent !important;
    position: relative;
    z-index: 1;
  }
}

.v-text-field__prefix{
  padding-right: 0px !important;
}

.v-card__title {
  filter: blur(0) !important;
}

.row {
  filter: blur(0);
}
