.v-card-title {
  font-family: "Friz Quadrata Std Medium" !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-btn {
  font-family: "Friz Quadrata Std Medium" !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-application, .v-btn.v-tab, .v-card-text, .v-tooltip {
  font-family: "Inter Variable" !important;
}

h3 {
  font-family: "Friz Quadrata Std Bold" !important;
  font-weight: 400 !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-autocomplete {
  font-family: "Friz Quadrata Std Medium" !important;
  letter-spacing: 1.56px !important;
}

.v-data-table {
  background-color: transparent !important;
}

/* BsK : fix 13.11.2025 : horizontally responsive scroll */
.v-application .v-container .v-card:first-child {
  overflow-x:auto;
}