.v-card-title {
  font-family: "Friz Quadrata Std Medium" !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-btn {
  font-family: "Friz Quadrata Std Medium" !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-application, .v-btn.v-tab, .v-card-text, .v-tooltip {
  font-family: "Inter Variable" !important;
}

h3 {
  font-family: "Friz Quadrata Std Bold" !important;
  font-weight: 400 !important;
  letter-spacing: 1.56px !important;
  text-transform: uppercase !important;
}

.v-autocomplete {
  font-family: "Friz Quadrata Std Medium" !important;
  letter-spacing: 1.56px !important;
}

.v-data-table,
.v-table {
  background-color: transparent !important;
}

// Nested cards and expansion panels should be transparent when inside containers,
// but pickers should not be affected because they should appear on top.
.v-expansion-panel, .v-sheet:not(.v-picker) {
  background-color: transparent !important;
}

.v-card {
  .v-card {
    background-color: transparent !important;
  }
}

// Since we're overriding the tonal chips for each
// theme to adjust the BG color with color-mix,
// we need to make the text appear on top of the
// underlay by setting its z-index to 1.
.v-chip--variant-tonal .v-chip__content,
.v-chip--variant-tonal .v-chip__prepend,
.v-chip--variant-tonal .v-chip__append,
.v-chip--variant-tonal .v-chip__close {
  position: relative;
  z-index: 1;
}
