.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

@mixin ballb($yaxis: 0) {
  transform: translate3d(0, $yaxis, 0);
}

@keyframes wc3enter {
  1% {
    @include ballb(-100px);
    opacity: 0;
  }
  50% {
    @include ballb(-50px);
    opacity: 0;
  }
  60% {
    @include ballb(-5px);
  }
  70% {
    @include ballb(0px);
  }
  80% {
    @include ballb(10px);
  }
  90% {
    @include ballb(0px);
  }
  100% {
    @include ballb(0px);
    opacity: 1;
  }
}

@keyframes wc3leave {
  1% {
    @include ballb(0px);
  }
  50% {
    @include ballb(-100px);
    opacity: 1;
  }
  100% {
    @include ballb(-1000px);
    opacity: 0;
  }
}

.warcraft-transition-enter-active {
  animation: wc3enter 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.warcraft-transition-leave-active {
  animation: wc3leave 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
